﻿@{
    ViewBag.Title = "About";
}
<h2>Sobre</h2>

<p>Iteração 2 do projecto no âmbito da Unidade Curricular de 3º Ano - 1ºSemestre de Arquitectura de Sistemas (ARQSI) - Plataforma de Gestão de Imóveis</p>
<br/>

<address>
    <strong>Grupo 7 - Turma 3DG</strong><br/>
    - Duarte Amorim (<a href="mailto:1130674@isep.ipp.pt">1130674@isep.ipp.pt</a>)<br />
    - Ricardo Rodrigues (<a href="mailto:1120703@isep.ipp.pt">1120703@isep.ipp.pt</a>)<br />
    <br />
    <strong>Docente: </strong>  Paulo Proença (<a href="mailto:prp@isep.ipp.pt">prp@isep.ipp.pt</a>)
</address>
