﻿@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript" src="@Url.Content("/Scripts/scripts.js")"></script>

<div id="widget">
    <script>
	    loadWidget('widget');
    </script>
</div>

