﻿@model ImoGest.Models.RealEstate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RealEstate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Typology.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Typology.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.Area) m^2
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localization.Coordinates)
        </dd>

        @if (Model.Photos.Any(p => p.RealEstateID == Model.ID))
        {
        <dt>
            @Html.DisplayNameFor(model => model.Photos)
        </dt>

        <dd>
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
                <ol class="carousel-indicators">
                    @for (int i = 0; i < Model.Photos.Count; i++)
                    {
                        <li data-target="#myCarousel" class="active" data-slide-to="@i"></li>
                    }
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/Photos?id=@Model.Photos.First().PhotoID" alt="RealEstatePhoto" class="img-responsive"/>
                    </div>
                    @foreach(var photo in Model.Photos)
                    {
                        if (!photo.Equals(Model.Photos.First())) {
                            <div class="item">
                                <img src="~/Photos?id=@photo.PhotoID" alt="RealEstatePhoto" class="img-responsive" />
                            </div>
                        }
                    }
               </div>
            </div>
        </dd>
        }

    </dl>
</div>
<p>
    @if (User.Identity.GetUserId() == Model.OwnerID)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
        @: |
    }
    @Html.ActionLink("Back to List", "Index")
</p>
