﻿@model ImoGest.Models.Advert

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Advert</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RealEstate.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealEstate.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price) €
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateLastUpdate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Ver Imóvel", "Details", "RealEstates", new { id = Model.RealEstateID }, null) |
    @if (User.Identity.GetUserId() == Model.OwnerID)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
        @: |
    }
    @Html.ActionLink("Back to List", "Index")
</p>
