﻿@using ImoGestClient.Controllers;
@using ImoGestClient.Models;
@using ImoGestClient.Helpers;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImoGest</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ImoGest Client", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Html.Authorizations().ApplicationUser.IsAuthenticated)
                    {
                        if (Html.Authorizations().ApplicationUser.IsInRole(UserRolesApi.Administrator))
                        {
                            <li>@Html.ActionLink("Tipos de Imóvel", "Index", "RealEstateTypologies")</li>
                        }

                        if (Html.Authorizations().ApplicationUser.IsInRole(UserRolesApi.Client))
                        {
                            <li>@Html.ActionLink("Alertas", "Index", "Alerts")</li>
                            <li>@Html.ActionLink("Anúncios", "Index", "Adverts")</li>
                            <li>@Html.ActionLink("Imóveis", "Index", "RealEstates")</li>
                        }
                    }
                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ARQSI 3DG Grupo 7</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
