﻿@model ImoGest.Models.Alert

@{
    ViewBag.Title = "Create";
    int index = 0;
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Alert</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDateTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartDateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDateTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndDateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Parameters, "Condições", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div id="alertConditions">
                    <div class="input-group" id="contidion0">
                        <span class="input-group-addon">Campo: </span>
                        @Html.DropDownList("Parameters[0].Field", (IEnumerable<SelectListItem>) ViewBag.Field, htmlAttributes: new { @class = "form-control"})
                            <span class="input-group-addon">Condição: </span>
                            @Html.DropDownList("Parameters[0].Constraint", (IEnumerable<SelectListItem>) ViewBag.Constraint, htmlAttributes: new { @class = "form-control" })
                            <span class="input-group-addon">Valor: </span>
                            <input name="Parameters[0].Value" type="text" id="Value" class="form-control" placeholder="Valor">
                            <div class="input-group-btn">
                                <button class="btn btn-primary" type="button" onclick="addNewParameter();">Novo</button>
                            </div>
</div>
                </div>
                @Html.ValidationMessageFor(model => model.Parameters, "", new { @class = "text-danger" })
            </div>
        </div>     

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script>
        var index = 0;
        function addNewParameter() {
            index++;
            @{
                index = index + 1;
            }
                var inputGroup = document.createElement("div");
                inputGroup.className = "input-group";
                inputGroup.id = "condition" + index;

                var strHTML = "<span class=\"input-group-addon\">Campo:</span>" +
                            "@Ajax.JavaScriptStringEncode(@Html.DropDownList("Parameters["+ @index+"].Field", (IEnumerable<SelectListItem>)ViewBag.Field, htmlAttributes: new { @class = "form-control" }).ToHtmlString())" +
                            "<span class=\"input-group-addon\">Condição:</span>" +
                            "@Ajax.JavaScriptStringEncode(@Html.DropDownList("Parameters["+@index+"].Constraint", (IEnumerable<SelectListItem>)ViewBag.Constraint, htmlAttributes: new { @class = "form-control" }).ToHtmlString())" +
                            "<span class=\"input-group-addon\">Valor:</span>" +
                            "<input name=\"Parameters["+index+"].Value\" type=\"text\" class=\"form-control\" placeholder=\"Valor\">";

                console.log(strHTML);
                strHTML = strHTML.replace(/&quot;/g, '\"');
                console.log(strHTML);
                inputGroup.innerHTML = strHTML;
                document.getElementById("alertConditions").appendChild(inputGroup);
        }
    </script> 
}